/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout*/

#board{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    padding-top: 50px;
}

.box{
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ffffff;
    align-items:center;
    justify-content: center;
    background-color:#8b8589;
    font-size:50pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#c2e5d3;
}

#welcome{
    padding-top: 100px;
    color:#c2e5d3;
}

#wrapper{
    text-align: center;
    background-color:#1b1e23;
}

#winner{
    color:orange;
}